{% extends 'base.html' %} {% block title %} Create Item {% endblock title %}
{%block content %}

<main>
  <h1>Create a new item</h1>
  <div>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button>Create</button>
    </form>    
  </div>
</main>

{% endblock content %}
