{% extends 'base.html' %} {% block title %} Delete List {% endblock title %}
{%block content %}

<main>
  <h1>Are you sure?</h1>
  <div>
    <form method="post">
      {% csrf_token %}
      <button>Delete</button>
    </form>
  </div>
</main>

{% endblock content %}
