{% extends 'base.html' %} {% block title %} Todo Tasks {% endblock title %}
{%block content %}
<main>
  <h1>{{ todo_object.name }}</h1>
  <a href="{% url 'todo_list_update' todo_object.id %}">Edit</a>
  <p>
    <a href="{% url 'todo_list_delete' todo_object.id %}">Delete</a>
  </p>
  <h2>Tasks</h2>
  <div>
    <table>
      <thead>
        <tr>
          <th>Task</th>
          <th>Due Date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for item in todo_object.items.all %}
          <td>
            <a href="{% url 'todo_item_update' item.id %}">{{ item.task }}</a>
          </td>
          <td>{{ item.due_date }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock content %}
