{% extends 'base.html' %} {% block title %} Update List {% endblock title %}
{%block content %}

<main>
  <h1>Update list</h1>
  <div>
    <form method="post">
    {% csrf_token %} {{ form.as_p }}
    <button>Update</button>
    </form>
  </div>
</main>


{% endblock content %}
