html {
    font-family: 'Outfit', sans-serif;
    background-color: #272d33;
    color: white;
}

a {
    color: #8ede09;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF
}

.footer {
    position: fixed;
    padding: 12px;
    bottom: 0;
    left: 0;

}
